<div class="contact-container">
    <h2>Contact Us</h2>
    <p>Email: support&#64;ABCOnlineStore.com</p>
    <p>Phone: +91 8681951620</p>
  
    <h3>Our Hot-Spot</h3>
    <h5>123 Broadway St, New York, NY 10001</h5>
    <img src="http://localhost:8090/ny.jpg" />



    <h3>Send us a message</h3>
    <form>
      <input type="text" placeholder="Your Name" required>
      <input type="email" placeholder="Your Email" required>
      <textarea placeholder="Your Message" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
  