<div class="home-container">
    <!-- Banner Section -->
    <div class="banner">
      <h1>ABC Store</h1>
      <p>The GodFather of all Stores</p>
      <a routerLink="/products" class="shop-now-btn">Shop Now</a>
    </div>
  
    <!-- Featured Categories -->
    <div class="categories">
      <h2>We Have</h2>
      <div class="category-grid">
        <div class="category-item">
          <img src="/assets/mobiles.jpg" alt="Mobiles">
          <a routerLink="/products/jewelry"> Mobiles</a>
        </div>
        <div class="category-item">
          <img src="/assets/laptops.jpg" alt="Laptops">
          <a routerLink="/products/cosmetics"> Laptops</a>
        </div>
      </div>
    </div>
  </div>
  
